<!-- Start footer -->
<footer class="custom-footer bg-light py-5 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mt-4">
                <div>
                    <div>
                        <img src="assets/images/logo-dark.png" alt="logo dark" height="70" />
                    </div>
                    <div class="mt-4 fs-13">
                        <p align="justify">Nos especializamos en la consultoría integral en gestión de riesgos
                            laborales; derecho
                            laboral y de la seguridad social, salud y seguridad en el trabajo. Alto compromiso con la
                            excelencia en el servicio, la responsabilidad con el cliente y el trabajo en equipo.</p>
                        <ul class="list-inline mb-0 footer-social-link">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/profile.php?id=100064022221282" target="_blank"
                                    class="avatar-xs d-block">
                                    <div class="avatar-title rounded-circle">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </div>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/abcrisktraining/" target="_blank"
                                    class="avatar-xs d-block">
                                    <div class="avatar-title rounded-circle">
                                        <i class="fa-brands fa-instagram"></i>
                                    </div>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript: void(0);" class="avatar-xs d-block">
                                    <div class="avatar-title rounded-circle">
                                        <i class="fa-brands fa-twitter"></i>
                                    </div>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/hsw-risk-consultants-sas-011a091a8/"
                                    target="_blank" class="avatar-xs d-block">
                                    <div class="avatar-title rounded-circle">
                                        <i class="fa-brands fa-linkedin-in"></i>
                                    </div>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://wa.me/573054455400" target="_blank" class="avatar-xs d-block">
                                    <div class="avatar-title rounded-circle">
                                        <i class="fa-brands fa-whatsapp"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 ms-lg-auto">
                <div class="row">
                    <div class="col-sm-3 mt-4">
                        <h5 class="text-primary mb-0"><i class="fa-duotone fa-user-tie-hair"></i> Empresa</h5>
                        <div class="text-muted mt-3">
                            <ul class="list-unstyled ff-secondary footer-list">
                                <li>
                                    <a href="javascript:void(0);" [ngClass]="{ active: currentSection === 'features' }"
                                        [ngxScrollTo]="'#features'">Nosotros</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" [ngClass]="{ active: currentSection === 'services' }"
                                        [ngxScrollTo]="'#services'">Servicios</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 mt-4">
                        <h5 class="text-primary mb-0"><i class="fa-duotone fa-screen-users"></i> Academia</h5>
                        <div class="text-muted mt-3">
                            <ul class="list-unstyled ff-secondary footer-list">
                                <li>
                                    <a href="inscripcion" [ngClass]="{ active: currentSection === 'inscripcion' }"
                                        [ngxScrollTo]="'#inscripcion'">Inscríbete</a>
                                </li>
                                <li>
                                    <a href="inscripcion" [ngClass]="{ active: currentSection === 'inscripcion' }"
                                        [ngxScrollTo]="'#inscripcion'">Certificados</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 mt-4">
                        <h5 class="text-primary mb-0"><i class="fa-duotone fa-messages-question"></i> Apoyo</h5>
                        <div class="text-muted mt-3">
                            <ul class="list-unstyled ff-secondary footer-list">
                                <li>
                                    <a href="javascript:void(0);" [ngClass]="{ active: currentSection === 'contact' }"
                                        [ngxScrollTo]="'#contact'">Contacto</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 mt-4 text-center">
                        <h5 class="text-primary"><i class="fa-duotone fa-file-certificate"></i> Certificación</h5>
                        <img src="assets/images/certificacion-incontec.png" width="95px" class="p-2">
                        <p class="text-primary text-center" style="font-size: 7pt;">CS-CER1036549</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center text-sm-start align-items-center mt-3">
            <div class="col-sm-6">
                <div>
                    <p class="copy-rights mb-0">
                        {{year}} © SAFETY, HEALTH AND WORK RISK CONSULTANTS S.A.S.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end mt-3 mt-sm-0">
                    <ul class="list-inline mb-0 footer-list gap-4 fs-13">
                        <li class="list-inline-item">
                            <a href="/pages/privacy-policy">Política de privacidad</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="/pages/terms-condition">Términos y condiciones</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->