<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

<div class="card card-height-100">
  <div class="card-header align-items-center d-flex">
    <h4 class="card-title mb-0 flex-grow-1">{{ title }}</h4>
    <div class="flex-shrink-0">
      <app-botones [botones]="botones" (eventSave)="save()" (eventCancel)="cancel()"></app-botones>
    </div>
  </div>

  <div class="card-body" style="padding: 40px; min-height: 387px!important;">
    <form [formGroup]="frmClientes" class="mb-4">
      <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3 d-none">
          <label>Nombre</label>
          <input type="text" class="form-control" readonly formControlName="Nombre" />
          <app-forms-messages [error]="frmClientes.get('Nombre')" [statusForm]="statusForm"
            [statusForm]="statusForm"></app-forms-messages>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 d-none">
          <label>Codigo</label>
          <input type="text" class="form-control" formControlName="Codigo" />
          <app-forms-messages [error]="frmClientes.get('Codigo')" [statusForm]="statusForm"
            [statusForm]="statusForm"></app-forms-messages>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
          <label>Persona</label>
          <ng-select [items]="listPersonas()" bindLabel="textoMostrar" bindValue="id" formControlName="PersonaId"
            (change)="onselect($event)">
          </ng-select>
          <app-forms-messages [error]="frmClientes.get('PersonaId')" [statusForm]="statusForm"></app-forms-messages>
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1">
          <br />
          <button type="button" class="btn" (click)="nuevaPersona()">
            <i class="fa-duotone fa-user-plus" style="
                --fa-primary-color: #adb5bd;
                --fa-secondary-color: #adb5bd;
              "></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>