<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
  <!-- LOGO -->
  <div class="navbar-brand-box">
    <!-- Dark Logo-->
    <a routerLink="/dashboard" class="logo logo-dark">
      <span class="logo-sm">
        <img src="assets/images/logo-sm.png" alt="HSW RISK" height="35">
      </span>
      <span class="logo-lg">
        <img src="assets/images/logo-dark.png" alt="HSW RISK" height="55">
      </span>
    </a>
    <!-- Light Logo-->
    <a routerLink="/dashboard" class="logo logo-light">
      <span class="logo-sm">
        <img src="assets/images/logo-sm.png" alt="HSW RISK" height="35">
      </span>
      <span class="logo-lg">
        <img src="assets/images/logo-light.png" alt="HSW RISK" height="55">
      </span>
    </a>
    <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
      <i class="ri-record-circle-line"></i>
    </button>
  </div>

  <div id="scrollbar">
    <div class="container-fluid">

      <div id="two-column-menu">
      </div>
      <ngx-simplebar class="sidebar-menu-scroll" style="max-height: calc(100vh - 70px)">
        <br>
        <ul class="metismenu list-unstyled navbar-nav" id="navbar-nav">
          @for(item of menuItems; track $index){
          @if(item.formularios.length > 0){
          <li class="nav-item">
            <a href="javascript:void(0);" class="is-parent nav-link menu-link has-arrow" data-bs-toggle="collapse"
              [attr.aria-expanded]="!item.isCollapsed" (click)="toggleItem(item)">
              <i class="{{ item.icono }} icon nav-icon" class=""></i>
              <span class=""> {{ item.nombre | translate }}</span>
            </a>

            <div class="collapse menu-dropdown" #collapse="ngbCollapse" [(ngbCollapse)]="item.isCollapsed">
              <ul class="nav nav-sm flex-column" aria-expanded="false">
                @for(subitem of item.formularios; track $index){
                <li class="nav-item">
                  <a [routerLink]="subitem.url" class="nav-link" [attr.data-parent]="subitem.id"
                    (click)="updateActive($event)">
                    <i class="{{ subitem.icono }} icon nav-icon" class=""></i> {{ subitem.nombre | translate}}
                  </a>
                </li>
                }
              </ul>
            </div>
          </li>
          }
          }
        </ul>
      </ngx-simplebar>
    </div>
    <!-- Sidebar -->
  </div>
  <div class="sidebar-background"></div>
</div>
<!-- Left Sidebar End -->

<!-- Vertical Overlay-->
<div class="vertical-overlay" (click)="SidebarHide()"></div>