<!-- start cta -->
<section class="py-5 bg-primary position-relative">
    <div class="bg-overlay bg-overlay-pattern opacity-50"></div>
    <div class="container">
        <div class="row align-items-center gy-4">
            <div class="col-sm">
                <div>
                    <h4 class="text-white fw-semibold">Explora nuestra innovadora formación en seguridad y salud en el
                        trabajo, para estudiantes, trabajadores independientes, profesionales y empresarios.</h4>
                    <p class="text-white text-opacity-75 mb-0">Nuestra estrategia formativa se fundamenta en
                        proporcionar contenido de alta calidad a un costo accesible, eliminando barreras geográficas y
                        manteniendo una experiencia de aprendizaje técnico, lúdico y enriquecedor.</p>
                </div>
            </div>
            <!-- end col -->
            <div class="col-sm-auto">
                <a href="/inscripcion" target="_blank" class="btn btn-danger"><i
                        class="ri-arrow-right-line align-bottom"></i> Inscríbete Ahora</a>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end cta -->