<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<div class="card card-height-100">
    <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">{{ title }}</h4>
        <div class="flex-shrink-0">
            <app-botones #botonesSuperior [botones]="botones" [dropdown]="false" (eventNew)="nuevo()"></app-botones>
        </div>
    </div>
    <div class="card-body" style="padding: 40px;">
        <div class="table-responsive table-card">
            <table id="datatable" class="table table-bordered table-hover table-striped w-100">
                <thead>
                    <tr>
                        <th class="text-center">CÓDIGO</th>
                        <th class="text-center">NOMBRE</th>
                        <th class="text-center">URL</th>
                        <th class="text-center">MODULO</th>
                        <th class="text-center">ICONO</th>
                        <th class="text-center">ESTADO</th>
                        <th class="text-center">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let item of listFormularios(); index as i">
                        <td>{{ item.codigo }}</td>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.url }}</td>
                        <td>{{ item.modulo }}</td>
                        <td><i class="{{ item.icono }}" style="--fa-primary-color: #adb5bd; --fa-secondary-color: #adb5bd;"></i></td>
                        <td *ngIf="item.activo; else elseBlock"><label class='text-center text-success'>Activo</label></td>
                        <ng-template #elseBlock><td><label class='text-center text-danger'>Inactivo</label></td></ng-template>
                        <td>
                            <button class="btn btn-sm text-secondary" type="button" (click)="updateGeneric(item.id)"><i class="fa-duotone fa-pen-to-square"></i> Editar</button>
                            <button class="btn btn-sm text-secondary" type="button" (click)="deleteGeneric(item.id)"><i class="fa-duotone fa-trash-can"></i> Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>