<section class="content-header">
    <div class="container-fluid">
        <div class="d-flex justify-content-between mb-2">
            <div>
                <h1>{{ title }}</h1>
            </div>
            <div>
                <ol>
                    <span *ngFor="let item of breadcrumb; let index=index ;  let last = last">
                        <li class="{{item.icon}}" style="--fa-primary-color: #adb5bd; --fa-secondary-color: #adb5bd;">
                        </li>
                        {{ item.name }} <span *ngIf="!last"> / &nbsp;</span>
                    </span>
                </ol>
            </div>
        </div>
    </div>
</section>