<section class="section bg-light py-5" id="features">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center mb-5">
                    <h1 class="mb-3 ff-secondary fw-semibold lh-base">Nosotros</h1>
                </div>
            </div>
        </div>
        <br>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 px-5 d-flex align-items-center">
                <div>
                    <h1 class="mb-1 ff-secondary fw-semibold lh-base">Misión</h1>
                    <p class="text-muted fs-5" align="justify">Brindamos servicios integrales de consultoría en
                        gestión de riesgos laborales, derecho laboral y de la seguridad social, seguridad y salud en el
                        trabajo, de forma eficiente y con altos estándares de calidad en el servicio; reconocida,
                        sostenible y respaldada por un equipo de trabajo multidisciplinario, calificado y competente.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 px-5 d-flex align-items-center">
                <img src="assets/images/landing/features/mision.jpg" alt="" class="user-img rounded shadow-lg"
                    width="100%" />
            </div>

        </div>
        <br><br><br><br>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 px-5 d-flex align-items-center">
                <img src="assets/images/landing/features/vision.jpg" alt="" class="user-img rounded shadow-lg"
                    width="100%" />
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 px-5 d-flex align-items-center">
                <div>
                    <h1 class="mb-1 ff-secondary fw-semibold lh-base">Visión</h1>
                    <p class="text-muted fs-5" align="justify">Ser una empresa nacionalmente reconocida y caracterizada
                        por la alta calidad en la prestación de servicios de consultoría en gestión integral de riesgos,
                        prevención y promoción en seguridad y salud en el trabajo; generando alto valor y fidelización
                        de nuestras empresas clientes con conciencia de autocuidado en sus trabajadores.</p>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</section>