<section>
    <div>
        <form [formGroup]="frmUsuarios" class="border shadow-lg">
            <div class="modal-header bg-primary">
                <h6 class="text-white">{{ titulo }}</h6>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <label>Usuario</label>
                        <input type="text" class="form-control" formControlName="Usuario" readonly>
                        <app-forms-messages [error]="frmUsuarios.get('Usuario')"
                            [statusForm]=statusForm></app-forms-messages>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <label>Contraseña</label>
                        <input type="password" class="form-control" formControlName="Password">
                        <app-forms-messages [error]="frmUsuarios.get('Password')"
                            [statusForm]=statusForm></app-forms-messages>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <label>Repetir Contraseña</label>
                        <input type="password" class="form-control" formControlName="PasswordRepeat">
                        <app-forms-messages [error]="frmUsuarios.get('PasswordRepeat')"
                            [statusForm]=statusForm></app-forms-messages>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row float-right">
                    <div class="col-md-12">
                        <app-botones [botones]="botones" (eventSave)="save()" (eventCancel)="cancel()"></app-botones>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>