<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<div class="card card-height-100">
    <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">{{ title }}</h4>
        <div class="flex-shrink-0">
            <app-botones #botonesSuperior [botones]="botones" [dropdown]="false" (eventNew)="nuevo()"></app-botones>
        </div>
    </div>
    <div class="card-body" style="padding: 40px;">
        <div class="table-responsive table-card">
            <table id="datatable" class="table table-bordered table-hover table-striped w-100">
                <thead>
                    <tr>
                        <th class="text-center">EMPRESA</th>
                        <th class="text-center">BANCO</th>
                        <th class="text-center">NÚMERO DE CUENTA</th>
                        <th class="text-center">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let item of listProveedores(); index as i">
                        <td>{{ item.empresa }}</td>
                        <td>{{ item.banco }}</td>
                        <td>{{ item.numeroCuenta }}</td>
                        <td>
                            <button class="btn btn-sm text-secondary" type="button" (click)="update(item.id)"><i
                                    class="fa-duotone fa-pen-to-square"></i>
                                Editar</button>
                            <button class="btn btn-sm text-secondary" type="button" (click)="deleteGeneric(item.id)"><i
                                    class="fa-duotone fa-trash-can"></i>
                                Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>